body {
    font-family: 'Source Sans 3', sans-serif;
}

/* Custom styles for specific behaviors */
.text-decoration-underline-hover:hover {
    text-decoration: underline;
}

.text-wrap-nowrap {
    white-space: nowrap;
}

/* Custom scrollbar for search results */
.oo-search-results::-webkit-scrollbar {
    width: 8px;
}

.oo-search-results::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.oo-search-results::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.oo-search-results::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Hide visually but accessible to screen readers */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Mini cart quantity badge styling */
.mini-cart-quantity {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    padding: 0.15rem;
    height: 1rem;
    aspect-ratio;
    text-align: center;
    background-color: #0e703a;
    color: white;
    border-radius: 9999px;
}

/* Favorite quantity badge styling */
.favorite-quantity {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    padding: 0.15rem;
    height: 1rem;
    aspect-ratio: 1/1;
    text-align: center;
    background-color: #0e703a;
    color: white;
    border-radius: 9999px;
}

